@font-face {
  font-family: "iconfont"; /* Project id 2375361 */
  src: url('iconfont.woff?t=1676685616629') format('woff'),
       url('iconfont.ttf?t=1676685616629') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icondianhua:before {
  content: "\e634";
}

.iconmima:before {
  content: "\e601";
}

.iconyonghu:before {
  content: "\e65d";
}

