* {
    @include scrollBar;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*取消img蓝框*/
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: inherit;
    font-weight: inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/*取消链接下横线*/
a {
    text-decoration: none;
}
a:focus {
    outline: thin dotted;
}

/* 改善在所有浏览器中获取焦点和悬停时的可读性: h5bp.com/h */
a:hover,
a:active {
    outline: 0;
}
