@import "~@/styles/mixin.scss";
@import "~@/styles/animation.css";
.base-table {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;

    ::v-deep {
        .el-table,
        .el-table__expanded-cell,
        .el-table th,
        .el-table tr {
            background: transparent;
        }
        .el-table {
            color: #fff;
        }
        .el-table th {
            padding: 14px 0;
            font-weight: 400;
            background-color: var(--table-head-bg-color);

            .cell {
                line-height: 18px;
                flex-wrap: nowrap;
                color: #fff;
                font-weight: normal;
            }
        }
        .el-table__body-wrapper {
            .el-button {
                padding: 4px 2px;
                color: #333;
                i.iconfont {
                    font-size: 18px;
                }
            }
            .el-button:hover {
                color: var(--el-color-primary);
            }
        }
        .el-table .el-table__row td:last-child {
            .cell {
                display: flex;
                justify-content: space-evenly !important;
            }
        }
        .el-table--group,
        .el-table--border {
            border: 1px solid var(--table-border-color);
        }
        .el-table--border::after,
        .el-table--group::after,
        .el-table::before {
            background-color: transparent;
        }
        .el-table td {
            padding: 8px 0;
            background-color: transparent;
            &.is-center {
                .cell.el-tooltip {
                    text-align: center;
                }
            }
            .cell {
                font-size: 14px;
                &.el-tooltip {
                    margin: 0 auto;
                }
                .el-button {
                    font-size: 14px;
                    padding: 4px 10px;
                    vertical-align: middle;
                }
                i.iconfont {
                    margin-right: 2px;
                }
                .edit-icon {
                    margin-left: 10px;
                    font-size: 16px;
                    color: var(--el-color-primary);
                    cursor: pointer;
                }
                .btn-link {
                    text-decoration: underline;
                }
                .iconfont.icondianhua {
                    color: var(--table-icon-color);
                }
                .btn-text-default {
                    color: var(--el-color-default);
                }
                .btn-text-primary {
                    color: var(--el-color-primary);
                }
                .btn-text-success {
                    color: var(--el-color-success);
                }
                .btn-text-warning {
                    color: var(--el-color-warning);
                }
                .btn-text-danger {
                    color: var(--el-color-danger);
                }
                .btn-text-info {
                    color: var(--el-color-info);
                }
                .btn-text-green {
                    color: var(--status-color-green);
                }
                .btn-text-blue {
                    color: var(--status-color-blue);
                }
                .btn-text-yellow {
                    color: var(--status-color-yellow);
                }
                .btn-text-grey {
                    color: var(--status-color-grey);
                }
                .btn-text-white {
                    color: white;
                }
                .is-disabled {
                    opacity: 0.7;
                }
            }
        }
        .el-table--enable-row-hover .el-table__body tr:hover > td {
            background-color: rgba(255, 255, 255, 0.1);
        }
        .el-table--border th.gutter:last-of-type {
            border-bottom-color: var(--table-head-bg-color);
        }
        .el-tooltip__popper {
            width: auto;
            max-width: 50%; /*修改宽度*/
            line-height: 20px;
            font-size: 14px;
            text-align: left;
            background: rgba($color: #000, $alpha: 0.7) !important; /*背景色  !important优先级*/
            color: #ffffff !important; /*字体颜色*/
        }

        .el-tooltip__popper[x-placement^="top"] .popper__arrow:after {
            border-top-color: rgba($color: #000, $alpha: 0.7) !important;
        }

        .el-table th.is-leaf,
        .el-table td {
            border-bottom: 1px solid var(--table-border-color);
        }
        .el-table--border td,
        .el-table--border th,
        .el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
            border-right: 1px solid var(--table-border-color);
        }

        .el-pagination button,
        .el-pager li {
            min-width: 32px;
            height: 24px;
            line-height: 24px;
            padding: 0 5px;
            margin: 0 5px;
            background: transparent;
            border: 1px solid rgba($color: #c0c0c0, $alpha: 0.6);
            border-radius: 2px;
            color: #999;

            i {
                font-size: 18px !important;
            }

            &.active,
            &:hover {
                background: var(--el-color-primary);
                color: #fff;
            }
            &:disabled {
                color: #999;
            }
            &:disabled:hover {
                background: transparent;
            }

            &.active + li {
                border-left: 1px solid rgba($color: #c0c0c0, $alpha: 0.6);
            }
        }

        .centerClass {
            display: flex;
            justify-content: end;
            padding: 10px 0;
            .el-pagination__sizes {
                .el-input__inner {
                    height: 24px;
                    line-height: 24px;
                }
            }
            .el-pagination__total,
            .el-pagination__jump {
                height: 24px;
                line-height: 24px;
            }
            .el-pagination__editor {
                height: 24px;
                margin: 0 5px;
                .el-input__inner {
                    height: 24px;
                }
            }
        }
        .el-table td .cell {
            .sync-state {
                i.iconfont {
                    display: inline-block;
                    margin-right: 2px;
                    font-size: 16px;
                    vertical-align: middle;
                }
            }
            .color-sync-1 {
                i {
                    color: var(--us-color-red);
                }
            }
            .color-sync-2 {
                i {
                    color: var(--us-color-orange);
                }
            }
            .color-sync-3 {
                i {
                    color: var(--us-color-blue);
                }
            }
            .color-sync-4 {
                i {
                    color: var(--us-color-green);
                }
            }
            .color-sync-5 {
                i {
                    color: var(--us-color-gray);
                }
            }
        }
    }
}
